responsive.css .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}

.menu div {
    margin: 10px 0;
}

/* Tabble: desde 601px hasta 1024px */

@media (min-width: 601px) and (max-width: 1024px) {
    .menu {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 30px;
    }
    .menu div {
        margin: 0 10px;
    }
}
/* Desktop: mas de 1024px*/
@media (min-width: 1025px) {
    .menu {
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 50px;
    }
    .menu div {
        margin: 0 20px;
    }
}

.contenedor {
    width: 80%;
    font-size: 2vw;
    background-color: aquamarine;
}

h1{
    font-size: (4vw);
    color: blue;
}