@keyframes mover{
    0% {
        transform: translate(0, 0);
        background-color: aqua;
    }
    50% {
        transform: translate(100px);
        background-color: #7fffd4;
    }
    60% {
        transform: translate(0);
        background-color: #4c8eb4;
    }
}

.caja{
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation: mover 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
}